<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myproject.fsshow.member.MemberDTO">

    <!-- 각 페스티벌의 게시글 리스트 조회  -->
    <!-- 페스티벌 아이디에 맞는 게시글 리스트가 쭉 나옴  -->
    <select id="getFestBoardList" parameterType="String" resultType="hashmap">
        SELECT
            BOARD_IDX, BOARD_MEM_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_SHOW_ID
        FROM
            BOARD
        WHERE
            BOARD_SHOW_ID = #{BOARD_SHOW_ID}
    </select>

    <!-- 게시글 작성 기능  -->
    <!-- 페스티벌 아이디에 맞는 게시글 작성 기능 (작성자는 페스티벌 아이디를 모름) -->
    <insert id="insertOneBoard" parameterType="hashmap">
        INSERT INTO
            BOARD
        (
            BOARD_IDX,
            BOARD_MEM_ID,
            BOARD_TITLE,
            BOARD_CONTENT,
            BOARD_DATE,
            BOARD_SHOW_ID
        )
        VALUES
            (
                BOARD_IDX_SEQ.NEXTVAL,
                #{BOARD_MEM_ID},
                #{BOARD_TITLE},
                #{BOARD_CONTENT},
                SYSDATE,
                #{BOARD_SHOW_ID}
            )
    </insert>

    <!-- 게시글 상세 보기  -->
    <!-- 페스티벌 아이디에 맞는 게시글 상세 보기  -->
    <select id = "selectOneBoard" parameterType="hashmap" resultType="hashmap">
        SELECT
            BOARD_IDX, BOARD_MEM_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_SHOW_ID
        FROM
            BOARD
        WHERE
            BOARD_IDX = #{BOARD_IDX}

    </select>

    <!-- 게시글 수정 기능  -->
    <update id = "updateOneBoard" parameterType="hashmap">
        UPDATE
            BOARD
        SET
            BOARD_TITLE = {BOARD_TITLE}
            BOARD_CONTENT = {BOARD_CONTENT}
        WHERE
            BOARD_IDX = #{BOARD_IDX}
    </update>

    <!-- 게시글 수정 폼  -->
    <select id = "updateOneBoardForm" parameterType="hashmap">
        SELECT
            BOARD_IDX, BOARD_MEM_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE
        FROM
            BOARD
        WHERE
            BOARD_IDX = #{BOARD_IDX}
    </select>

    <!-- (관리자 페이지) 모든 게시글 리스트 조회  -->
    <select id="getAllBoardList" resultType="hashmap">
        SELECT
            BOARD_IDX, BOARD_MEM_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_SHOW_ID
        FROM
            BOARD
    </select>

    <!-- (마이 페이지) 내가 쓴 게시글 조회  -->
    <select id="getMyBoard" parameterType="String" resultType="hashmap">
        SELECT
            BOARD_IDX, BOARD_MEM_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_SHOW_ID
        FROM
            BOARD
        WHERE
            BOARD_MEM_ID = #{BOARD_MEM_ID}
    </select>

    <!-- 제목으로 게시글 찾기  -->
    <select id="getTitle" parameterType="String" resultType="hashmap">
        SELECT
            BOARD_IDX
        FROM
            BOARD
        WHERE
            BOARD_TITLE = #{BOARD_TITLE}
    </select>

    <!-- 전체 게시글 리스트 삭제 (테스트를 위함)  -->
    <delete id="deleteAllBoard" parameterType="int">
        DELETE
        FROM
            BOARD
    </delete>

    <!-- 전체 게시글 개수 조회 (테스트를 위함) -->
    <select id="getCountBoard" resultType="int">
        SELECT
            COUNT(*)
        FROM
            BOARD
    </select>
</mapper>