<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myproject.fsshow.member.MemberDTO">
    <select id="selectOneMembyID" parameterType="String" resultType="hashmap">
        SELECT *
        FROM MEMBER
        WHERE MEM_ID = #{MEM_ID}
    </select>

    <select id="selectOneMem" parameterType="Integer" resultType="hashmap">
        SELECT *
        FROM MEMBER
        WHERE MEM_IDX = #{MEM_IDX}
    </select>

    <insert id="insertOneMem" parameterType="hashmap">
        INSERT INTO MEMBER
            (MEM_LEVEL, MEM_IDX, MEM_ID, MEM_PW, MEM_NAME, MEM_EMAIL, MEM_PHONE)
        VALUES
            (1, MEM_IDX_SEQ.NEXTVAL, #{MEM_ID}, #{MEM_PW}, #{MEM_NAME}, #{MEM_EMAIL}, #{MEM_PHONE})
    </insert>

    <update id="updateOneMem" parameterType="hashmap">
        UPDATE MEMBER
        SET
            MEM_PW = #{MEM_PW}, MEM_PHONE = #{MEM_PHONE}
        WHERE MEM_IDX = #{MEM_IDX}
    </update>

    <update id="deleteOneMem" parameterType="Integer">
        UPDATE MEMBER
        SET
            MEM_LEVEL = 3
            MEM_ID = #{MEM_ID}
    </update>

    <select id="selectMemList"  resultType="hashmap">
        SELECT *
        FROM MEMBER
    </select>
</mapper>