<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myproject.fsshow.show.ShowVO">

    <select id="selectShowList" parameterType="hashmap" resultType="hashmap">
        SELECT
            SHOW_ID,
            SHOW_YEAR,
            SHOW_NAME,
            SHOW_ADDR,
            SHOW_DATE,
            SHOW_POST_IMG,
            SHOW_SEAT_IMG
        FROM
            SHOW

    </select>


</mapper>